.favorite-search-container {
  flex: 1;
}

.panel-layout-container {
  height: 93%;
  margin: 5% auto 0 auto;
  width: 87%;
}

.favorite-search-form {
  display: flex;
  height: 6%;
  margin-bottom: 30px;
  width: 100%;
}

.favorite-search-form input {
  flex: .75;
}

.favorite-search-form button {
  flex: .25;
  margin-left: 10px;
}
